.form-container {
    margin-top: 50px;
}

form {
    margin: 30px 0;

}

.input-container {
    display: flex;
    flex-direction: column;


}

.form-input {
    margin-bottom: 15px;
}

label {
    margin-right: 10px;
}

input {
    width: 200px;
    outline: none;
}


.error-msg {
    color: red;

}